.whiteT{
color: rgb(255, 255, 255);
}

table, th, td, tfoot{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin:  4px;
    border: 1px solid rgb(165, 165, 165);
    border-collapse: collapse;
}

article{
        float:left;
        width: 100%;						
        height: auto;
        margin:1px;
        padding:1px;	
        border:1px solid rgb(90, 90, 90);
        overflow: auto;
        border-collapse: collapse;
}                                                                       /* 화면 구성 *//*article 단위 화면 구성*/


.fix {
        position: sticky;
        left: 0;
}

.in { 
        text-indent: 20px;   /*들여쓰기 */
}

.out {
        text-indent: -20px;  /*내어쓰기*/
}

.hybrid {
         margin-left: 20px; /* 1 */         /*들여서 내어쓰기*/
         text-indent: -20px; /* 2 */
}
.redT {
    color: rgb(255, 0, 0);
}
    
    
