@charset "UTF-8";
article{ 								/* 화면 구성 */
    float:left;							/*article 단위 화면 구성*/
    width:auto;						
    height:auto;
    margin:2px;
    padding:5px;	
    border:1px solid #ccc;
}
body{
    font-size: 70%;
}
table, th, td, tfoot{
    text-align: center;
    padding: 0px;
    margin:  0px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
input {
    position : relative;
}

th,td,tfoot{
    padding:5px 10px;
}

section{
    width:auto;						/*화면 구성 크기 (기본구성으로 인하여 고의로 pix)*/
    margin: auto;	
}
h3{
    text-align: right;
    font-size:1.2em;
}
h4 {
    font-size:1em;
}
p {
    line-height:20px;
    font-size:12px;
}

.greentext{
    font-size: large;
    color: rgb(0, 122, 0)
}
.redtext{
    font-size: large;
    color: rgb(255,0,0)
}
.accenttext{
    font-size: large;
    font-weight: bold;
    color: rgb(74, 86, 255)
}
.strong{
    font-size: 11px;
    font-weight: bold;
}
.accent{
    font-size: large;
    font-weight: bold;
}
/* footer {
    clear:left;
    width:99%;
    height:50px;
    padding: 0px;
    background-color:#222;							추후 사용 여부에 따른 주석처리
}
footer > p {
    color:#fff;
    font-size:0.9em;
    text-align: center;
    line-height:50px;
} */
